<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pbs.base.dao.mapper.PbsBikeInfoMapper" >
  <resultMap id="BaseResultMap" type="pbs.base.pojo.po.PbsBikeInfo" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="bike_id" property="bikeId" jdbcType="VARCHAR" />
    <result column="pro_date" property="proDate" jdbcType="DATE" />
    <result column="factory" property="factory" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="dynamic_state" property="dynamicState" jdbcType="INTEGER" />
    <result column="rent_id" property="rentId" jdbcType="INTEGER" />
    <result column="node_id" property="nodeId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, bike_id, pro_date, factory, state, dynamic_state, rent_id, node_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="pbs.base.pojo.po.PbsBikeInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pbs_bike_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pbs_bike_info
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pbs_bike_info
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="pbs.base.pojo.po.PbsBikeInfoExample" >
    delete from pbs_bike_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pbs.base.pojo.po.PbsBikeInfo" >
    insert into pbs_bike_info (ID, bike_id, pro_date, 
      factory, state, dynamic_state, 
      rent_id, node_id)
    values (#{id,jdbcType=BIGINT}, #{bikeId,jdbcType=VARCHAR}, #{proDate,jdbcType=DATE}, 
      #{factory,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{dynamicState,jdbcType=INTEGER}, 
      #{rentId,jdbcType=INTEGER}, #{nodeId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="pbs.base.pojo.po.PbsBikeInfo" >
    insert into pbs_bike_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="bikeId != null" >
        bike_id,
      </if>
      <if test="proDate != null" >
        pro_date,
      </if>
      <if test="factory != null" >
        factory,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="dynamicState != null" >
        dynamic_state,
      </if>
      <if test="rentId != null" >
        rent_id,
      </if>
      <if test="nodeId != null" >
        node_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="bikeId != null" >
        #{bikeId,jdbcType=VARCHAR},
      </if>
      <if test="proDate != null" >
        #{proDate,jdbcType=DATE},
      </if>
      <if test="factory != null" >
        #{factory,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="dynamicState != null" >
        #{dynamicState,jdbcType=INTEGER},
      </if>
      <if test="rentId != null" >
        #{rentId,jdbcType=INTEGER},
      </if>
      <if test="nodeId != null" >
        #{nodeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pbs.base.pojo.po.PbsBikeInfoExample" resultType="java.lang.Integer" >
    select count(*) from pbs_bike_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pbs_bike_info
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.bikeId != null" >
        bike_id = #{record.bikeId,jdbcType=VARCHAR},
      </if>
      <if test="record.proDate != null" >
        pro_date = #{record.proDate,jdbcType=DATE},
      </if>
      <if test="record.factory != null" >
        factory = #{record.factory,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.dynamicState != null" >
        dynamic_state = #{record.dynamicState,jdbcType=INTEGER},
      </if>
      <if test="record.rentId != null" >
        rent_id = #{record.rentId,jdbcType=INTEGER},
      </if>
      <if test="record.nodeId != null" >
        node_id = #{record.nodeId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pbs_bike_info
    set ID = #{record.id,jdbcType=BIGINT},
      bike_id = #{record.bikeId,jdbcType=VARCHAR},
      pro_date = #{record.proDate,jdbcType=DATE},
      factory = #{record.factory,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=INTEGER},
      dynamic_state = #{record.dynamicState,jdbcType=INTEGER},
      rent_id = #{record.rentId,jdbcType=INTEGER},
      node_id = #{record.nodeId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pbs.base.pojo.po.PbsBikeInfo" >
    update pbs_bike_info
    <set >
      <if test="bikeId != null" >
        bike_id = #{bikeId,jdbcType=VARCHAR},
      </if>
      <if test="proDate != null" >
        pro_date = #{proDate,jdbcType=DATE},
      </if>
      <if test="factory != null" >
        factory = #{factory,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="dynamicState != null" >
        dynamic_state = #{dynamicState,jdbcType=INTEGER},
      </if>
      <if test="rentId != null" >
        rent_id = #{rentId,jdbcType=INTEGER},
      </if>
      <if test="nodeId != null" >
        node_id = #{nodeId,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="pbs.base.pojo.po.PbsBikeInfo" >
    update pbs_bike_info
    set bike_id = #{bikeId,jdbcType=VARCHAR},
      pro_date = #{proDate,jdbcType=DATE},
      factory = #{factory,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      dynamic_state = #{dynamicState,jdbcType=INTEGER},
      rent_id = #{rentId,jdbcType=INTEGER},
      node_id = #{nodeId,jdbcType=INTEGER}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>